<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %></title>
</head>
<body>
    <h1>WELCOME TO EJS FILE</h1>
    <%  %>
  <h1> <%= new Date %> </h1>  
  <h1> <%= stud.name %> </h1>  
  <h1> <%= stud.level %> </h1>  
  <h1> <%= stud.age %> </h1>  
  <h1> <%= stud.course %> </h1>  

  <% if (stud.age == 85) { %>
   <p>Hey, grandpa</p>
  <% } %>

</body>
</html>